#wrapper{
    
   background-color: rgb(38, 38, 38);
    

}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


header{
    background-image:url(../img/sexy.jpg) ;
    background-position: center;
    background-size: cover;
    
   
    text-align: center;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;

    
}



    




h1{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 50px;
    max-width: 100vw;
    max-height: 60vh;
    
}

.h1-wrapper {
    padding: 1rem;
    
    background-color: rgb(105, 0, 0);
    height: auto;
    width: auto;
    border-radius: 15px;
    margin-right: 1rem;
    
}

h2{

background-color:rgb(105, 0, 0);
border-radius: 10px;
padding: 5px;

}

.container {
    max-width: 300px; 
    margin: 0 auto; 
    padding: 20px; 
}


nav{

display:flex; 
flex-direction: row;
justify-content: space-evenly; 
padding-top: 2%;
 

}
nav button{

background-color: rgb(105, 0, 0);
color: whitesmoke;
border-radius: 10px;
padding: 10px;
font-size: x-large;
border: none;
outline: none;

}

nav :hover{

    transform: scale(1.2);

}

#about{
text-align: center;
padding-top: 15%;
padding-bottom: 15%;
padding-left: 2%;
padding-right: 2%;
color: whitesmoke;

}

#about div {

    display: flex;
    flex-direction: row;
    justify-content: center;

}





#work{

display: flex;
flex-direction: column;
text-align: center;


}

#work div {

display: flex;
flex-direction: row;

}

#work div div p{
    display: flex;
    border: rgb(62, 1, 1);
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    color: whitesmoke;
    
}

#work div  img{
    width: 50%;
    padding: 2%;
    border-radius: 15px;
    
}


.text{

display: flex;
flex-direction: column-reverse;
border: rgb(62, 1, 1);
border-radius: 10px;
text-align: center;
padding: 2rem;
transition: transform .2s;
color: whitesmoke;

}

#education{
    display: flex;
    flex-direction:column;
    

}

#education div{

    display: flex;
    flex-direction: row;
    
}

#education div div p{
    display: flex;
    border: rgb(62, 1, 1);
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    color: whitesmoke;
    
}

#education div img{
    width: 50%;
    padding: 2%;
    border-radius: 15px;
    
}






footer{
    
    background-color: rgb(105, 0, 0);
    height: 10vh;
    color: whitesmoke;
    display: flex;
    flex-direction:column-reverse ;
    
}


@media only screen and (max-width: 768px){

    #work div {

        display: flex;
        flex-direction: column;
        
    }

    #work div img{

        width: 100%;
        max-height: 40vh;
            

    }

    #education div {

        display: flex;
        flex-direction: column;
            
    }
    
    #education div img{
    
        width: 100%;
        max-height: 40vh;
    }
                
    nav :hover{
        transform: none;

    } 
       
    h1{

       font-size: 40px; 

    }
    header{

        flex-direction: column-reverse;
        padding-top: 5%;
    }
   nav button{

        font-size: 20px;

    }
  



}